<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>구매하기</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<section>


    <button id="payment-button">결제하기</button>
</section>
<script src="https://js.tosspayments.com/v1"></script>
<script th:inline="javascript">

    var tossPayments = TossPayments(/*[[${tosspayments_key}]]*/);
    var button = document.getElementById("payment-button");

    var orderId = [[${orderName}]]

    button.addEventListener("click", function () {

        var method = "카드";
        var paymentData = {
            amount: parseInt('[[${totalPrice}]]'),
            orderId: orderId,
            orderName: '[[${orderName}]]',
            customerName: '[[${name}]]',
            successUrl: window.location.origin + "/api/success",
            failUrl: window.location.origin + "/fail",
        };



        tossPayments.requestPayment(method, paymentData);
    });

</script>
</body>
</html>